.li {
    color: #9D9D9D;
}

.li-container {
    padding: 15px;
}

.li span.title {
    display: block;
    color: #47B6FF;
}

.li .form-control {
    margin: 10px 0;
}

.li .question {
    display: inline-block;

    border: 1px solid #47B6FF;
    border-radius: 15px;

    width: 20px;
    height: 20px;
    margin-left: 7px;
    padding-right: 1px;
    color: #47B6FF;

    text-align: center;
}

.li .question:after {
    content: '?';
}

.li .types label {
    display: block;
    color: #000000;
}

.li .types label input:checked + span {
    color: #47B6FF;
}

.li .accordion {
    border: 1px solid #159EFF;
    border-radius: 3px;

    margin-bottom: 15px;
    margin-top: 10px;
}

.li .accordion > .accordion-header {
    border: 1px solid #159EFF;
    border-radius: 3px;

    background: #159EFF;
    color: #ffffff;

    height: 30px;
}

.li .accordion > .accordion-header > .accordion-header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.li .accordion > .accordion-header .accordion-switcher {
    width: 19px;
    height: 19px;
    margin: 0 15px;

    display: inline-block;
    position: relative;
    float: left;
}

.li .accordion .switcher-open {
    background: url("/icons/switcher-open.png") no-repeat;
}

.li .accordion .switcher-close {
    background: url("/icons/switcher-close.png") no-repeat;
}

.li .accordion > .accordion-header .accordion-switcher:hover {
    cursor: pointer;
}

.li .accordion > .accordion-content {
    margin: 10px;
}

.li .accordion-icon {
    width: 20px;
    height: 20px;
}

.li .accordion-open {
    background: green;
}

.li .accordion-close {
    background: black;
}

.li .form-control-custom {
    display: inline;
}

.right {
    padding-top: 10px;
    float: right;
    width: 110px;
}

.left {
    padding-top: 15px;
    float: left;
    width: 160px;
}

.middle {
    margin: 0 120px 0 160px;
}

.li .btn-default {
    background: #159EFF;
    color: #ffffff;
    text-shadow: none;
    border: none;
    border-radius: 0;
}

.li .btn-default:active:hover {
    background-color: #47B6FF;
    border-color: #00b3ee;
}

.li hr {
    margin: 10px 0;
    border-top: 2px solid #DEDFDE;
}

.li ul {
    list-style-type: none;
    padding: 0;
}

.li ul > li {
    color: #159EFF;
}

.li label {
    font-weight: normal;
}

.li .remove-icon {
    display: inline-block;
    position: relative;
    top: 3px;

    width: 14px;
    height: 14px;

    background: url("/icons/remove.png") no-repeat;
}

.li .box {
    border: 1px solid #159EFF;
    border-radius: 3px;
    padding: 15px;
}

.li .box .box-title {
    display: inline-block;
}

.li .background-grey {
    background-color: #EFEFEF;
}

.li .border-grey .accordion {
    border-color: #DAD9DA;
}

.li .section {
    margin-top: 25px;
}

.li .vertical-text-align {
    padding-top: 15px;
}

.li .btn-primary {
    text-shadow: none;
    border-radius: 0;
    background: #A4A4A4;
    border: 1px solid #B6B6B6;
}

.li .btn-primary:active:hover {
    background: #A4A4A4;
    border-color: #B6B6B6;
}

.li .plus-icon {
    display: inline-block;
    position: relative;

    width: 24px;
    height: 24px;

    background: url("/icons/add.png") no-repeat;
}

.li .plus-text {
    position: relative;
    top: -6px;
}

.li .services-items {
    color: #159BFF;
}

.li .box .accordion:last-child {
    margin-bottom: 0;
}

.li .uploading-area {
    border: 2px solid #DDDEDD;
    height: 500px;
    text-align: center;
}

.li .uploading-area > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.li .uploading-icon {
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 auto;

    background: url("/icons/uploading.png") no-repeat;
}
